@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.admin-container {
    grid-template-columns: repeat(8, 1fr);
    display: grid;
}

.nav {
    grid-column: 1/9;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
}

.left-panel {
    height: 95vh;
    grid-column: 1/2;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
}

.right-panel {
    overflow: hidden;
    margin: 30px;
    grid-column: 2/9;
}

.left-panel div ul li {
    list-style: none;
    margin: 20px 0px 20px 40px;
}

div ul li a {
    font-weight: 600;
    color: rgb(98, 98, 98);
    text-decoration: none;
}

div ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
}

nav ul #profile {
    font-weight: 700;
    margin-right: 30px;
    float: right;
}

nav ul #profile:hover {
    cursor: pointer;
}



/*! logo */
#logo-admin {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: 700;
}
