@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.admin-container {
    grid-template-columns: repeat(8, 1fr);
    display: grid;
}

.nav {
    z-index: 9999;
    color: rgb(252, 252, 252);
    grid-column: 1/9;
    height: 80px;
    background-color: rgb(46, 46, 46);

    .navbar div a{
        color: white;
    }
    .navbar div button{
        background-color: rgba(240, 248, 255, 0);
    }

    li a {
        color: rgb(252, 252, 252);
    }
}


.left-panel {
    
    height: auto;
    grid-column: 1/2;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.right-panel {
    overflow: hidden;
    margin: 30px;
    grid-column: 2/9;
}

.left-panel div ul li {
    list-style: none;
    padding-block: 1.4rem;
    padding-left: 3rem;
    transition: all ease-in-out 0.1s;
}
.left-panel div ul li:hover {
    background-color: rgb(180, 180, 180);
    a{
        color: rgb(255, 255, 255);
    }
}

div ul li a {
    font-weight: 600;
    color: rgb(98, 98, 98);
    text-decoration: none;
}

div ul {
    padding-left: 0;
}




/*! logo */
#logo-admin {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: 700;
}