*{
    font-size: .875rem;
}
body{
}
.containerdiv {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    gap: 2rem;
}

.image-inline{
    overflow: hidden;
    grid-column: 2/5;
    height: 95vh;
    /* background-color: rgb(72, 0, 255); */
}
.image-inline>img{
    border-radius: 20px;
    display: grid;
    place-items: center;
    object-fit: contain;
    aspect-ratio: 3/2;
    margin-top: 90px;
    width: 100%;
}
.description {
    grid-column: 5/7;
    height: auto;
}

.description>div{
    margin-top: 90px;
    display: inline-block;
}
