/* grids */
.containernewdiv{
    display: grid;
    grid-template-columns: repeat(1fr, 7);
    width: 100%;
}
.background-style{
    grid-column: 1/8;
}
.nav-section{
    grid-column: 1/8;
    height: auto;
}
.section-child>ul>li{
    line-height: 50px;
    display: inline-block;
}
.body-section{
    grid-column: 1/8;
    height: 80vh;
}
.form-section{
    grid-column: 1/8;
    height: 30vh;
}
.featured{
    grid-column: 1/8;
    margin-inline: 10rem;
    height: auto;
}
.footer{
    grid-column: 1/8;
    height: auto;
}
.newsection{
    grid-column: 1/8;
    margin-inline: 10rem;
}