@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* loader */
.loader {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transition: opacity 0.65s, visibility 0.65s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 5px solid #b7b7b7;
    border-top-color: #008067;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.background-style {
    width: 100%;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.nav-section>ul>h1 {
    font-size: 2rem;
    font-weight: 500;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: #cfcfcf;
}

.float-right {
    margin-right: 40px;
    float: right;
}

.nav-section>h1, .nav-section>a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    line-height: 70px;
    display: inline-block;
}

.ml {
    margin-left: 30%;
}

#logo-img {
    object-fit: contain;
    display: flex;
    position: absolute;
    aspect-ratio: 3/2;
    width: 13%;
    float: left;
    filter: drop-shadow(6px 4px 5px #0000004b);
    margin-left: 17%;
    margin-top: 30px;
}

.nav-section ul li {
    text-transform: uppercase;
    margin: 10px 40px;
}

.nav-section>.section-child {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.section-child {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(101, 101, 101);
    display: grid;
    place-items: center;
    text-align: center;
}

#upper-nav {
    float: right !important;
}

#sign-up {
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

#sign-up:hover {
    background-color: #363753;
    color: #5cd2c6;
}

.body-section {
    text-align: center;
    display: grid;
    place-items: center;
}

.body-section ul {
    display: block;
}

.body-section ul li>h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffffff;
    font-size: 5rem;
    text-shadow: 3px 3px 0px rgba(70, 70, 70, 0.486);
}

#button-new {
    text-transform: uppercase;
    width: 30%;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* main */




/* button */

.button {
    background-color: #ffffff00;
    color: #000000;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: #3654ff;
    cursor: pointer;
    color: #ffffff;
}

.button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.text {
    margin: 0 1.5em
}

/* media */
@media only screen and (max-width: 720px) {
    .nav-section ul li {
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 10px 10px;
    }

    .nav-section>h1, .nav-section>a {
        font-size: 0.8rem;
    }

    .body-section ul li>h1 {
        font-size: 3rem;
    }

    #logo-img {
        object-fit: contain;
        display: flex;
        position: absolute;
        aspect-ratio: 3/2;
        width: 20%;
        float: left;
        filter: drop-shadow(6px 4px 5px #0000004b);
        margin-left: 3%;
        margin-top: 20px;
    }

    #button-new {
        text-transform: uppercase;
        width: auto;
        padding: 15px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .featured, .company-testimony {
        margin-inline: 2rem !important;
    }
}