@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5 !important;
}


/*! Home */
.logo-img {
    padding: 0;
    height: 5rem;
}

#prof-nav-btn {
    display: none;
}

#email-nav-btn {
    display: '';
}

.user-home-container {
    font-family: "Montserrat", sans-serif;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.user-home-post {
    width: 85%;
    height: 80vh;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    margin: 60px 30px 20px 100px;
}

.user-body-panel {
    grid-column: 2/10;
    height: 80vh;
    overflow: scroll;
}

.body-item-panel {
    padding-top: 50px;
    font-size: 0.8rem;
    grid-column: 2/12;
    height: auto;
}

.post-section {
    border: 1.5px solid rgb(217, 217, 217);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color: #ffffff;
}

.users-content-post {
    margin: 40px;
}

.user-right-section {
    grid-column: 10/12;
    height: 80vh;
}

.right-div {
    margin: 30px;
}

.post-container {
    border: 1.5px solid rgb(217, 217, 217);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color: #ffffff;
    height: auto;
    transition: ease-in-out all .3s;
}


/*! Navigation */
.nav-section {
    grid-column: 1/13;
    position: sticky;
    top: 0;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 9;
}
#prof-nav-btn {
    display: none;
}

.nav-section>nav {
    height: auto;
    width: 100%;
}


/*! Items */
.custom-h1-style {
    font-size: 20px !important;
}

.custom-p-style {
    width: 50%;
    margin-bottom: 20px;
}

.new-block>div {
    display: flex;
    margin: 10px;
    display: inline-block;
}

.new-checkout {
    margin-right: -20px;
}

.custom-items-style {
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
}

.image-prod {
    object-fit: contain;
    aspect-ratio: 3/2;
    width: 200%;
}

.cart {
    font-size: 20px;
    opacity: 60%;
    transition: 0.2s;
}

.cart:hover {
    text-shadow: -3px 0px 18px rgba(72, 179, 224, 1);
    opacity: 100%;
}

.item-name {
    font-size: clamp(1rem, 0.6rem);
}

.tags-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    h5 {
        font-size: 1.5rem;
    }

    ul {
        gap: 10px;
        margin-bottom: 20px;
    }
}

.ul-cart {
    margin: 30px;

    li {
        margin-bottom: 20px;

        span,
        p {
            font-size: 12px;
        }
    }
}

/*! drawer */
#floating-drawer {
    display: grid;
    place-items: center;
    margin-top: 14%;
    width: 4%;
    height: 30%;
    margin-right: 40px;
    transition: 0.3s;
    background-color: rgb(235, 235, 235);
    -webkit-box-shadow: 11px 11px 28px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 11px 11px 28px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 11px 11px 28px -10px rgba(0, 0, 0, 0.38);
}

#floating-drawer>a {
    width: 30px;
}


/*! transaction */
.container-trans {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.button--back {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
    transition: 0.2s;
}

.button--back:hover {
    background-color: #dfdfdf;
}

.trans-content {
    grid-column: 2/7;
    height: auto;
}

/* *{
    outline: 1px dashed red;
} */
/*! checkout */
.checkout-container {
    font-family: "Montserrat", sans-serif;
    color: #717171;
    background-color: #ffffff;
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    gap: 2rem;
    font-size: .875rem;
    margin: 50px auto 0 auto;
    margin-inline: auto;
    width: 80%;
    height: auto;
    border: 0.1rem solid rgb(207, 207, 207);
    border-radius: 8px;
}

.checkout-item-img {
    overflow: hidden;
    grid-column: 1/5;
    height: auto;

    img {
        display: grid;
        place-items: center;
        object-fit: fill;
        aspect-ratio: 3/2;
        margin:20px 20px 0 20px;
        width: 100%;
    }
    p{
        padding: 30px;
    }
}

.checkout-body-section {
    grid-column: 5/8;
    height: auto;
    /* display: grid;
    place-items: center; */

    .form-div-checkout{
        height: fit-content;
    }
}

.checkout-body-section>div {
    margin-top: 0px;
    display: inline-block;
}

.checkout-page {
    background-color: #ebebeb;
}

.placeItem {
    grid-column: 1/8;
    background-color: #d3d3d398;
    height: 20vh;
    margin: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*! place item */
.place-item {
    display: grid;
    place-items: center;
    margin-top: 200px;
}

.hidden-input {
    display: none;
    visibility: hidden;
}

.container-items {
    display: flex;
    place-items: center;
    height: 100px;
    margin: 50px 200px;
    background-color: #e7e7e7;
    border-radius: 3px;
}


/*! cart */
.cart-items {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #d8d8d8;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.custom-ul {
    display: flex;
    justify-content: space-between;
}

.custom-quantity-btn button,
#quantity-input {
    border-radius: 0;
    padding-inline: 0.8rem;
    height: 2rem;
    text-align: center;
}

.cart-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 20px;
    gap: 3rem;
}

.cart-items-section {
    grid-column: 2/9;
}

.checkout-section {
    grid-column: 9/12;
}

.total-payment {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 40px;
    height: auto;
    background-color: #ffffff;
    border: 1.5px solid #d8d8d8;
    border-radius: 3px;
    margin: 10px;
    font-size: 16px;
}

#total-items-pay {
    padding-left: 10px;
}

.date-section {
    width: auto;
    height: auto;
    background-color: #ffffff;
}

.decrement-btn,
.increment-btn {
    border-radius: 0.2rem;
    height: 2.2rem;
}

.input-quantity {
    border-radius: 0;
    height: 2.2rem;
}

#total-items-pay {
    transition: all 0.1s ease;
}



/*! placed item */
body {
    background-color: #F2F2F2;
}

.placed-item-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 9;
    height: fit-content;
    grid-column: 1/11;
}
.address-section {
    height: fit-content;
    grid-column: 2/7;
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
}

.payments-section {
    display: grid;
    place-items: center;
    grid-column: 7/10;
    width: fit-content;
    height: fit-content;
}

.new-address,
.new-payment {
    margin: 40px;
}


/*! alertbox */
.custom-icon-class .swal2-icon svg {
    width: 10px;
    height: 10px;
}

.custom-alert-box {
    width: 25rem;
    height: 15rem;
}

.custom-title {
    font-size: 15px;
}

/*! custom */
#alert-box {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #ffffff89;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#alert-text {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 50px 50px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}

/*! search bar */
#simple-search {
    width: 20rem;
}